<script src="https://kit.fontawesome.com/a3fff88801.js" crossorigin="anonymous"></script>

<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="../assets/pc-logo.png" alt="">
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, officia.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, officia.</p>
    </div>
    <div class="box">
      <h2>
        Siguenos
      </h2>
      <div class="red-social">
        <a href="#" class="fa fa-facebook">hola</a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>
  </div>
    <div class="grupo-2">
      <small>&copy; 2021 <b>Monte Hardware</b> - Todos los derechos reservados.</small>
    </div>
</footer>

