<div class="wrapper">
  <div class="center">
    <h1>Bievenido a Monte Hardware</h1>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a class="links" href="login" mat-raised-button color="primary">Ingresá a tu cuenta</a>
  </div>
</div>

<script src="https://kit.fontawesome.com/a3fff88801.js" crossorigin="anonymous"></script>


<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <figure>
        <a href="#">
          <img src="../assets/pc-logo.png" alt="">
        </a>
      </figure>
    </div>
    <div class="box">
      <h2>SOBRE NOSOTROS</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, officia.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, officia.</p>
    </div>
    <div class="box">
      <h2>
        Seguinos
      </h2>
      <div class="red-social">
        <a href="#" ><img width="35px" src="../assets/facebookicon.png" alt="Logo facebook"></a>
        <a href="#" ><img width="35px" src="https://cdn-icons-png.flaticon.com/512/174/174879.png" alt="Logo instagram"></a>
        <a href="#" ><img width="35px" src="../assets/twittericon.png" alt=""></a>
        <a href="#" ><img width="35px" src="../assets/twitchicon.png" alt=""></a>
      </div>
    </div>
  </div>
    <div class="grupo-2">
      <small>&copy; 2022 <b>Monte Hardware</b> - Todos los derechos reservados.</small>
    </div>
</footer>
