* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');


body {
  background: rgba(0, 0, 0, 0.7) center/cover
    url("https://img.freepik.com/premium-vector/cute-cat-operating-laptop-cartoon-vector-illustration-animal-technology-concept-isolated-flat-cartoon-style_138676-1870.jpg")
    repeat;
  background-size: 175px 175px;
  height: 100%;
  background-blend-mode: darken;
}

.example-card {
  background-color: #13142a;
  max-width: 500px;
  border-radius: 10px;
  margin: 15px;
  border: solid 2px black;
  font-family: 'Rajdhani', sans-serif 20px;
}

.example-header-image {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/747/223/small/pc-logo-monogram-with-slash-style-design-template-free-vector.jpg");
  background-size: cover;
  font-family: 'Gemunu Libre', sans-serif;
}

.mat-raised-button {
  background-color: #aaa6ca;
  color: black;
  transition: background-color .3s ease-in-out;
  outline: none;
  border-radius: 3px;
}

.mat-raised-button:hover {
  cursor: pointer;
  background-color: #0B2545;
}

.btn-links {
  background-color: #6c6889;
  transition: background-color .3s ease-in-out;
  outline: none;
  border-radius: 3px;
}

.btn-links:hover{
  cursor: pointer;
  background-color: #0B2545;
}

.mat-card-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 8px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}

.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}

.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}



