<!-- El container hace que todo lo que se encuentre en el mismo sea responsivo. -->
<body>
  <div class="container">
    <!-- La clase "g-*numero* sirve para darle el espacio a las filas verticalmente"  -->
    <div class="row g-5">
      <!-- Gracias a esta clase de las columnas se vuelven completamente responsives -->
      <div class="col-12 col-md-6 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title
              >SSD Team 480GB T-Force Vulcan Z 540MB/s
            </mat-card-title>
            <mat-card-subtitle>SSD Interno</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_33781_Disco_Solido_SSD_Team_480GB_T-Force_Vulcan_Z_540MB_s_2cc86d9e-grn.jpg"
            alt="SSD Vulcan"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.teamgroupinc.com/es/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title
              >Zotac GeForce RTX 2060 12GB GDDR6 Twin Fan</mat-card-title
            >
            <mat-card-subtitle>Placa de video</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../assets/2060.jpg" alt="2060 2 coolers" />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> Logitech G502 Gaming Hero LOL KDA</mat-card-title>
            <mat-card-subtitle>Mouse gamer</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../assets/mousekad.jpg"
            alt="Foto mouse logi"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div id="22" class="col-12 col-md-6 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title
              >SSD Team 480GB T-Force Vulcan Z 540MB/s
            </mat-card-title>
            <mat-card-subtitle>SSD Interno</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_33781_Disco_Solido_SSD_Team_480GB_T-Force_Vulcan_Z_540MB_s_2cc86d9e-grn.jpg"
            alt="SSD Vulcan"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title
              >Zotac GeForce RTX 2060 12GB GDDR6 Twin Fan</mat-card-title
            >
            <mat-card-subtitle>Placa de video</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../assets/2060.jpg" alt="2060 2 coolers" />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> Logitech G502 Gaming Hero LOL KDA</mat-card-title>
            <mat-card-subtitle>Mouse gamer</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../assets/mousekad.jpg"
            alt="Foto mouse logi"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4 lol">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title
              >SSD Team 480GB T-Force Vulcan Z 540MB/s
            </mat-card-title>
            <mat-card-subtitle>SSD Interno</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_33781_Disco_Solido_SSD_Team_480GB_T-Force_Vulcan_Z_540MB_s_2cc86d9e-grn.jpg"
            alt="SSD Vulcan"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title
              >Zotac GeForce RTX 2060 12GB GDDR6 Twin Fan</mat-card-title
            >
            <mat-card-subtitle>Placa de video</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../assets/2060.jpg" alt="2060 2 coolers" />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> Logitech G502 Gaming Hero LOL KDA</mat-card-title>
            <mat-card-subtitle>Mouse gamer</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            src="../assets/mousekad.jpg"
            alt="Foto mouse logi"
          />
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct
              spitz breeds of dog from Japan. A small, agile dog that copes very
              well with mountainous terrain, the Shiba Inu was originally bred
              for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary"><mat-icon>add_shopping_cart</mat-icon>Comprar</button>
            <a mat-raised-button class="btn-links" href="https://www.google.com/" target="_blank"><mat-icon>search</mat-icon>Conocer más</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</body>

